html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Aldrich", sans-serif;
  background-color: #000;
  color: #fff;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#loading span {
  font-weight: 600;
  font-size: 28px;
  line-height: 20px;
  color: #ec8f22 !important;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: loadingEffect 2s infinite;
          animation: loadingEffect 2s infinite;
}

@-webkit-keyframes loadingEffect {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
}

@keyframes loadingEffect {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
}

.hello {
  opacity: 1 !important;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.full .content img {
  left: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: zoomin 1s ease;
          animation: zoomin 1s ease;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
}

.full .content .sponsor {
  bottom: 50px !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) scale(1.2) !important;
          transform: translateX(-50%) scale(1.2) !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90vw;
  background-color: #1b1b1b;
  padding: 16px 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-size: 30px;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
}

header .logo span {
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #ec8f22;
  color: #000;
  margin-left: 8px;
}

header .viewmode {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .viewmode span {
  margin-right: 16px;
}

header .viewmode a {
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

header .viewmode a svg {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

header .viewmode a:hover, header .viewmode a.active {
  color: #ec8f22;
}

@media (max-width: 576px) {
  header .logo {
    font-size: 24px;
  }
  header .viewmode span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    font-size: 14px;
  }
}

.container {
  padding: 100px 20px 20px 20px;
}

.thankyou {
  text-align: center;
  color: #fff;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}

.gallery img {
  max-width: 100%;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery img:hover {
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}

.gallery .gallery-item {
  -webkit-transition: grid-row-start 300ms linear;
  transition: grid-row-start 300ms linear;
  transition: grid-row-start 300ms linear, -ms-grid-row 300ms linear;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery .gallery-item:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.gallery .gallery-item .content {
  padding: 4px;
  position: relative;
}

.gallery .gallery-item .content .sponsor {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: absolute;
  padding: 4px 6px;
  background-color: #1b1b1b;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 4px;
  bottom: 16px;
  left: 16px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery-item .content .sponsor i {
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #ec8f22;
  color: #000;
  font-size: 13px;
  margin-left: 10px;
  font-style: normal !important;
}

@media (max-width: 600px) {
  .gallery {
    -ms-grid-columns: (minmax(30%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  30% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  70% {
    max-width: 50%;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes zoomin {
  0% {
    max-width: 50%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  30% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  70% {
    max-width: 50%;
  }
  100% {
    max-width: 100%;
  }
}

.listing {
  max-width: 100%;
  overflow: auto;
  padding: 16px calc(5vw - 20px);
}

.listing table {
  max-width: 100%;
  margin: 0 auto;
}

.listing table th {
  text-align: left;
}

.listing table tr th {
  color: rgba(255, 255, 255, 0.6);
}

.listing table tr td,
.listing table tr th {
  padding: 10px;
}

.listing table tr td:first-child,
.listing table tr th:first-child {
  width: 50px;
  text-align: center;
}

.listing table tr td:nth-child(2),
.listing table tr th:nth-child(2) {
  width: 250px;
}

.listing table tr td:last-child,
.listing table tr th:last-child {
  width: 80px;
  text-align: center;
}

.listing table tr.highlight-1 {
  color: yellowgreen;
  font-size: 18px;
}

.listing table tr.highlight-2 {
  color: #f1c490;
}
/*# sourceMappingURL=style.css.map */